In [1]:
import requests
import json
from pprint import pprint
import csv
import pandas as pd
from sodapy import Socrata
app_token = "Um1VWzrf55cHNeIqtlqqKHux9"

In [2]:
#url = "https://data.ny.gov/resource/cm56-widp.json"
file_csv = "Motor_Vehicle_Crashes_-_Vehicle_Information__Three_Year_Window.csv"
#response = requests.get(url)

In [3]:
#data = response.json()
#pprint(data)

In [4]:
#print(len(data))

In [5]:
data_pd = pd.read_csv(file_csv)
data_pd.head()

,Year,Case Vehicle ID,Vehicle Body Type,Registration Class,Action Prior to Accident,Type / Axles of Truck or Bus,Direction of Travel,Fuel Type,Vehicle Year,State of Registration,Number of Occupants,Engine Cylinders,Vehicle Make,Contributing Factor 1,Contributing Factor 1 Description,Contributing Factor 2,Contributing Factor 2 Description,Event Type,Partial VIN
0,2016,13364291,SUBURBAN,PASSENGER OR SUBURBAN,Changing Lanes,Not Entered,West,Gas,2012.0,NY,1.0,4.0,MINI,HUMAN,Unsafe Lane Changing,HUMAN,Not Applicable,Not Applicable,WMWZC3C57CWL81108
1,2016,13364304,PICKUP TRUCK,PASSENGER OR SUBURBAN,Going Straight Ahead,Not Entered,East,Gas,2014.0,NY,2.0,6.0,CHEVR,ENVMT,Pavement Slippery,HUMAN,Not Applicable,Not Applicable,3GCUKREH8EG196335
2,2016,13364305,4 DOOR SEDAN,PASSENGER OR SUBURBAN,Going Straight Ahead,Not Entered,North,Gas,2007.0,NY,1.0,4.0,HONDA,ENVMT,Pavement Slippery,HUMAN,Not Applicable,Not Applicable,1HGCM56387A220086
3,2016,13364307,SUBURBAN,PASSENGER OR SUBURBAN,Going Straight Ahead,Not Entered,North,Gas,2011.0,NY,4.0,4.0,CHEVR,ENVMT,Pavement Slippery,ENVMT,Obstruction/ Debris,Unknown,2CNFLCEC1B6362978
4,2016,13364306,SUBURBAN,PASSENGER OR SUBURBAN,Going Straight Ahead,Not Entered,North,Gas,2004.0,NY,1.0,6.0,BUICK,ENVMT,Pavement Slippery,HUMAN,Not Applicable,"Snow Embankment, Collision With Fixed Object",3G5DA03E04S597761

In [6]:
len(data_pd)

1654482

In [7]:
client = Socrata("data.ny.gov", app_token)
results = client.get("cm56-widp", limit=2000000)
results_df = pd.DataFrame.from_records(results)
results_df.head()

,action_prior_to_accident,case_vehicle_id,contributing_factor_1,contributing_factor_1_description,contributing_factor_2,contributing_factor_2_description,direction_of_travel,engine_cylinders,event_type,fuel_type,number_of_occupants,partial_vin,registration_class,state_of_registration,type_axles_of_truck_or_bus,vehicle_body_type,vehicle_make,vehicle_year,year
0,Unknown,12100031,HUMAN,Not Entered,HUMAN,Not Entered,Unknown,NaN,Not Entered,Not Entered,NaN,NaN,Not Entered,NaN,Not Entered,UNKNOWN VEHICLE,NaN,NaN,2014
1,Slowing or Stopping,12638921,HUMAN,Unknown,HUMAN,Not Entered,South,NaN,Not Entered,Not Entered,2,NaN,Not Entered,NJ,Not Entered,TAXI,NaN,NaN,2014
2,Unknown,12011955,HUMAN,Not Entered,HUMAN,Not Entered,Unknown,NaN,Not Entered,Not Entered,NaN,NaN,Not Entered,NaN,Not Entered,UNKNOWN VEHICLE,NaN,NaN,2014
3,Unknown,12563354,HUMAN,Unknown,HUMAN,Not Entered,North,NaN,Not Entered,Not Entered,NaN,NaN,Not Entered,NaN,Not Entered,UNKNOWN VEHICLE,NaN,NaN,2014
4,Backing,12574060,HUMAN,Not Entered,HUMAN,Not Entered,Unknown,NaN,Not Entered,Not Entered,1,NaN,Not Entered,NY,Not Entered,SUBURBAN,NaN,NaN,2014

In [8]:
len(results_df)

1654482

In [9]:
#print(results_df["year"].unique())

In [10]:
results_df.to_csv("data_via_api_key.csv")
results_clean_df = results_df

In [11]:
del results_clean_df["case_vehicle_id"]
results_clean_df.head()

,action_prior_to_accident,contributing_factor_1,contributing_factor_1_description,contributing_factor_2,contributing_factor_2_description,direction_of_travel,engine_cylinders,event_type,fuel_type,number_of_occupants,partial_vin,registration_class,state_of_registration,type_axles_of_truck_or_bus,vehicle_body_type,vehicle_make,vehicle_year,year
0,Unknown,HUMAN,Not Entered,HUMAN,Not Entered,Unknown,NaN,Not Entered,Not Entered,NaN,NaN,Not Entered,NaN,Not Entered,UNKNOWN VEHICLE,NaN,NaN,2014
1,Slowing or Stopping,HUMAN,Unknown,HUMAN,Not Entered,South,NaN,Not Entered,Not Entered,2,NaN,Not Entered,NJ,Not Entered,TAXI,NaN,NaN,2014
2,Unknown,HUMAN,Not Entered,HUMAN,Not Entered,Unknown,NaN,Not Entered,Not Entered,NaN,NaN,Not Entered,NaN,Not Entered,UNKNOWN VEHICLE,NaN,NaN,2014
3,Unknown,HUMAN,Unknown,HUMAN,Not Entered,North,NaN,Not Entered,Not Entered,NaN,NaN,Not Entered,NaN,Not Entered,UNKNOWN VEHICLE,NaN,NaN,2014
4,Backing,HUMAN,Not Entered,HUMAN,Not Entered,Unknown,NaN,Not Entered,Not Entered,1,NaN,Not Entered,NY,Not Entered,SUBURBAN,NaN,NaN,2014

In [12]:
del results_clean_df["partial_vin"]
results_clean_df.head()

,action_prior_to_accident,contributing_factor_1,contributing_factor_1_description,contributing_factor_2,contributing_factor_2_description,direction_of_travel,engine_cylinders,event_type,fuel_type,number_of_occupants,registration_class,state_of_registration,type_axles_of_truck_or_bus,vehicle_body_type,vehicle_make,vehicle_year,year
0,Unknown,HUMAN,Not Entered,HUMAN,Not Entered,Unknown,NaN,Not Entered,Not Entered,NaN,Not Entered,NaN,Not Entered,UNKNOWN VEHICLE,NaN,NaN,2014
1,Slowing or Stopping,HUMAN,Unknown,HUMAN,Not Entered,South,NaN,Not Entered,Not Entered,2,Not Entered,NJ,Not Entered,TAXI,NaN,NaN,2014
2,Unknown,HUMAN,Not Entered,HUMAN,Not Entered,Unknown,NaN,Not Entered,Not Entered,NaN,Not Entered,NaN,Not Entered,UNKNOWN VEHICLE,NaN,NaN,2014
3,Unknown,HUMAN,Unknown,HUMAN,Not Entered,North,NaN,Not Entered,Not Entered,NaN,Not Entered,NaN,Not Entered,UNKNOWN VEHICLE,NaN,NaN,2014
4,Backing,HUMAN,Not Entered,HUMAN,Not Entered,Unknown,NaN,Not Entered,Not Entered,1,Not Entered,NY,Not Entered,SUBURBAN,NaN,NaN,2014

In [13]:
results_clean_df.to_csv("data_via_api_key_cleansing1.csv")

In [14]:
len(results_clean_df)

1654482

In [15]:
# cleaning results_clean_df using notes from last session
results_clean_df1 = results_clean_df.loc[(results_clean_df.contributing_factor_1.notnull()) & (results_clean_df.contributing_factor_2.notnull()), :]
results_clean_df1 = results_clean_df1.loc[(results_clean_df1["action_prior_to_accident"] != "Unknown") &
                                         (results_clean_df1["contributing_factor_1_description"] != "Unknown") &
                                         (results_clean_df1["contributing_factor_2_description"] != "Unknown") &
                                         (results_clean_df1["event_type"] != "Unknown") &
                                         (results_clean_df1["vehicle_body_type"] != "UNKNOWN VEHICLE"),:]
#results_clean_df1 = results_clean_df1.loc[(results_clean_df1["action_prior_to_accident"] != "Not Applicable") &
#                                           (results_clean_df1["contributing_factor_1_description"] != "Not Applicable") &
#                                          (results_clean_df1["contributing_factor_1_description"] != "Not Entered") &
#                                          (results_clean_df1["contributing_factor_2_description"] != "Not Applicable") &
#                                          (results_clean_df1["contributing_factor_2_description"] != "Not Entered") &
#                                          (results_clean_df1["event_type"] != "Not Applicable") &
#                                          (results_clean_df1["event_type"] != "Not Entered") &
#                                          (results_clean_df1["fuel_type"] != "Not Entered") &
#                                          (results_clean_df1["fuel_type"] != "Unknown") &
#                                          (results_clean_df1["vehicle_body_type"] != "Not Entered"), :]

len(results_clean_df1)

# 1393310
#temp_df = results_clean_df.loc[(results_clean_df.contributing_factor_1 != "HUMAN") & 
#                               (results_clean_df.contributing_factor_1 != "VEHICLE") &
#                              (results_clean_df.contributing_factor_1 != "ENVMT"),:]
#temp_df.head()

1393310

In [16]:
results_clean_df1.to_csv("results_clean_df1.csv")

In [25]:
results_clean_df1.loc[results_clean_df1.engine_cylinders.isnull(), :].head()

,action_prior_to_accident,contributing_factor_1,contributing_factor_1_description,contributing_factor_2,contributing_factor_2_description,direction_of_travel,engine_cylinders,event_type,fuel_type,number_of_occupants,registration_class,state_of_registration,type_axles_of_truck_or_bus,vehicle_body_type,vehicle_make,vehicle_year,year
4,Backing,HUMAN,Not Entered,HUMAN,Not Entered,Unknown,NaN,Not Entered,Not Entered,1,Not Entered,NY,Not Entered,SUBURBAN,NaN,NaN,2014
5,Going Straight Ahead,HUMAN,Not Entered,HUMAN,Not Entered,South,NaN,Not Entered,Not Entered,1,Not Entered,NaN,Not Entered,BICYCLIST,NaN,NaN,2014
6,Not Applicable,HUMAN,Not Entered,HUMAN,Not Entered,Not Applicable,NaN,Not Entered,Not Entered,NaN,Not Entered,NaN,Not Entered,PEDESTRIAN,NaN,NaN,2014
7,Going Straight Ahead,HUMAN,Driver Inattention/Distraction*,HUMAN,Not Entered,West,NaN,Not Entered,Not Entered,NaN,Not Entered,NaN,Not Entered,4 DOOR SEDAN,NaN,NaN,2014
9,Parked,HUMAN,Not Applicable,HUMAN,Not Applicable,East,NaN,Not Applicable,Not Entered,NaN,Not Entered,AZ,Not Entered,UNKNOWN CAR,NaN,NaN,2014

In [42]:
results_clean_df1 = results_clean_df1.loc[(results_clean_df1["action_prior_to_accident"] != "Not Applicable") &
                                           (results_clean_df1["contributing_factor_1_description"] != "Not Entered") &
                                          (results_clean_df1["contributing_factor_2_description"] != "Not Entered") &
                                          (results_clean_df1["event_type"] != "Not Entered") &
                                          (results_clean_df1["vehicle_body_type"] != "Not Entered"), :]

len(results_clean_df1)

933696

In [43]:
results_clean_df1.to_csv("final_clean_data.csv")

In [47]:
results_clean_df1.head()

,action_prior_to_accident,contributing_factor_1,contributing_factor_1_description,contributing_factor_2,contributing_factor_2_description,direction_of_travel,engine_cylinders,event_type,fuel_type,number_of_occupants,registration_class,state_of_registration,type_axles_of_truck_or_bus,vehicle_body_type,vehicle_make,vehicle_year,year
9,Parked,HUMAN,Not Applicable,HUMAN,Not Applicable,East,NaN,Not Applicable,Not Entered,NaN,Not Entered,AZ,Not Entered,UNKNOWN CAR,NaN,NaN,2014
14,Going Straight Ahead,HUMAN,Following Too Closely,HUMAN,Not Applicable,West,NaN,Not Applicable,Not Entered,1,Not Entered,FL,Not Entered,4 DOOR SEDAN,NaN,NaN,2014
17,Backing,HUMAN,Backing Unsafely,HUMAN,Not Applicable,East,NaN,Not Applicable,Not Entered,1,Not Entered,ZS,Not Entered,OTHER VEHICLE,GRUM,1989,2014
26,Going Straight Ahead,ENVMT,Animal's Action,HUMAN,Not Applicable,East,NaN,Not Applicable,Not Entered,2,Not Entered,IN,Not Entered,4 DOOR SEDAN,TOYT,2011,2014
28,Stopped in Traffic,HUMAN,Not Applicable,HUMAN,Not Applicable,North,NaN,"Other Motor Vehicle, Collision With",Not Entered,2,Not Entered,DE,Not Entered,4 DOOR SEDAN,VOLK,2014,2014

In [87]:
action_prior_to_acc = pd.DataFrame({"vehicle_make": results_clean_df1["vehicle_make"], 
                                    "action_prior_to_accident": results_clean_df1["action_prior_to_accident"]})
#, 
#action_prior_to_acc.reset_index()
#action_prior_to_acc.head()
#action_prior_to_acc.groupby("vehicle_make").count()

action_prior_to_acc2 = action_prior_to_acc.groupby("vehicle_make").count().reset_index()
action_prior_to_acc2.head()
action_prior_to_acc2.sort_values("action_prior_to_accident",ascending=False, inplace=True)
action_prior_to_acc2.loc[action_prior_to_acc2["action_prior_to_accident"] > 10,:]
#.apply(pd.DataFrame.sort_values, "action_prior_to_accident")

#action_prior_to_acc.sort("action_prior_to_accident").groupby("vehicle_make").count()
#action_prior_to_acc.groupby("vehicle_make").count()

#results_clean_df1.groupby("vehicle_make").count()

     vehicle_make  action_prior_to_accident
421          FORD                    101596
215         CHEVR                     97920
1409        TOYOT                     94332
613         HONDA                     87583
1028        NISSA                     61822
318         DODGE                     41197
711          JEEP                     39241
643         HYUND                     37498
1330        SUBAR                     24796
773           KIA                     19485
224         CHRYS                     18518
519           GMC                     18159
1549        VOLKS                     17340
131           BMW                     15555
917         ME/BE                     12665
161         BUICK                     12167
901         MAZDA                     11952
1126        PONTI                     11832
11          ACURA                     10617
834         LEXUS                     10200
1228        SATUR                      7669
212          CHEV                      7624
956         MITSU                      7610
72           AUDI                      7553
1413         TOYT                      7392
179         CADIL                      7007
612          HOND                      6802
930         MERCU                      6764
658         INFIN                      6416
845         LINCO                      5980
...           ...                       ...
1542          VLV                        29
1508         UTIL                        29
159         BUELL                        28
1089          PET                        28
14          ADVAN                        28
193         CATER                        27
579          HEIL                        27
1554          VPG                        26
1031        NO/BU                        26
435         FR/LI                        26
1420        TR/TE                        26
1509        UTILI                        26
168         CA/AM                        25
650           IHC                        25
332          DUCA                        24
451           FRG                        24
1496         UNKN                        24
1302         STEM                        24
812         KYMCO                        23
1633         YMCL                        23
1374         TESL                        23
1586        WESTE                        22
1303         STER                        22
786          KNNW                        22
943         MICRO                        22
1282         SPTN                        22
39          AM/TR                        22
217         CHEVY                        22
1568         WANC                        21
1378         THMS                        21

[190 rows x 2 columns]

In [76]:
#action_prior_to_acc.loc[action_prior_to_acc["vehicle_make"] != "", :]

In [88]:
action_prior_to_acc2.loc[action_prior_to_acc2["action_prior_to_accident"] > 10,:]

     vehicle_make  action_prior_to_accident
421          FORD                    101596
215         CHEVR                     97920
1409        TOYOT                     94332
613         HONDA                     87583
1028        NISSA                     61822
318         DODGE                     41197
711          JEEP                     39241
643         HYUND                     37498
1330        SUBAR                     24796
773           KIA                     19485
224         CHRYS                     18518
519           GMC                     18159
1549        VOLKS                     17340
131           BMW                     15555
917         ME/BE                     12665
161         BUICK                     12167
901         MAZDA                     11952
1126        PONTI                     11832
11          ACURA                     10617
834         LEXUS                     10200
1228        SATUR                      7669
212          CHEV                      7624
956         MITSU                      7610
72           AUDI                      7553
1413         TOYT                      7392
179         CADIL                      7007
612          HOND                      6802
930         MERCU                      6764
658         INFIN                      6416
845         LINCO                      5980
...           ...                       ...
192           CAT                        15
125          BLUB                        15
1344        SUPRE                        14
1100        PIAGG                        14
351          EAST                        14
781          KMCU                        14
815          LAFR                        14
1269         SPAR                        13
530         GRADA                        13
809          KWKT                        13
203         CHAMP                        13
361         ELGIN                        12
1018         NEWH                        12
835           LFS                        12
1415        TOYTO                        12
792         KOMAT                        12
1137         PREV                        12
1092         PETR                        12
1119        POLAR                        12
1390          TLT                        12
656         INDIA                        11
839          LICO                        11
171         CA/ON                        11
1520         VANH                        11
584           HIN                        11
1589        WH/GM                        11
772         KI/MO                        11
1240         SEAF                        11
1295          STE                        11
1483         UHAU                        11

[248 rows x 2 columns]